/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "./dark.scss";

html, body {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.87);

}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

